html,
body {
  font-weight: normal;
}
.root{
  --accent-color: #98D6FA;
  --text-color: white;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
.bg-image{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: 100vh; /* Set the height of the container to the full viewport height */
  background-image: url("../blog\ background.png"); /* Set the image as the background */
  -webkit-filter: brightness(50%) blur(10px);
  filter: brightness(50%) blur(20px);
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image within the container */
  background-attachment: fixed; /* Set the image to scroll with the page */
}
.title {
  margin-left: 50%;
  transform: translate(-50%, 50%);
  color: var(--title-color);
}
h2 {
  color: var(--accent-color);
  font-size: 3em;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-shadow: 0 0 10px var(--accent-color);
  margin-top: 20px;
}
p {
  color: var(--text-color);
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  margin: 40px;
  text-align: center;
  text-shadow: 0 0px 10px var(--accent-color);
}
.article {
  width: 40%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position:relative;
  left: 50%;
  margin-top: 5%;
  padding-bottom: 20px;
  transform: translate(-50%, 0%);

  background-color: #18181800;
  border-color: var(--accent-color);
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  border-bottom: none;
  border-top: none;
  box-shadow: inset 0 0 40px #98D6FA80;
}

.article-list {

}